:root {
    --dark: #272D38;
    --light: #FFF;
    --primary-color: #8EADD5;
    --primary-color-dark: #3f3f3f;
    --gray: #F6F6F6;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--dark);
    text-align: center;
    margin: 0;
    /* BG Gradient */
    background-image: radial-gradient(circle at left top, rgb(142 173 213 / 0.3), transparent 800px),
                      radial-gradient(circle at right center, rgb(142 173 213 / 0.3), transparent 1600px);
}

.content-wrapper-center {
    padding: 3rem 1rem 2rem;
    max-width: 67.25rem;
    margin: auto;
}


.imagem{
    text-align: center;
}

.hero_title{
    margin-top: 0;
}

.header-menu {
    list-style-type: none;
    padding: 0;
    text-align: right;
    /* Hide menu */
    display: none;
}

.header-menu a {
    display: block;
    padding: 2em 0;

}

a {
    color: inherit;
}

nav a {
    text-decoration: none;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

.header {
    text-align: left;
}

.btn {
    display: inline-block;
    text-decoration: none;
    padding: 1em;
    background-color: var(--primary-color);
    border-radius: 5px;
    color: var(--light);
}

.btn:hover,
.btn:focus {
    background-color: var(--primary-color-dark);
}

img {
    max-width: 100%;
}


.brands h2 {
    font-size: 1rem;
    font-weight: lighter;
    color: #667085;
}

.brands ul {
    list-style-type: none;
    padding: 0;
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1em;
    /* Flex */
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}

.hide {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.testemunho {
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1rem;
}

.contato {
    background-color: var(--gray);
    border-radius: 5px;
    padding: 1rem;
    margin-top: 4rem;
}

.contato_image {
    display: none;
}

.footer {
    background-color: var(--gray);
}

.footer ul {
    list-style-type: none;
    padding: 0;
}

.footer a {
    text-decoration: none;
}

.logo {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.copyright {
    white-space: nowrap;
}

.hero,
.brands,
.branding,
.testemunhos,
.contato {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.row{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 0.5rem;
    /* Dense = occupying all spaces */
    grid-auto-flow: dense;
}

.row.testemunhos_wrapper{
    row-gap: 3rem;
}

.row.contato{
    padding-top: 4rem;
    padding-bottom: 4rem;
}


.row > .sm-12{
    grid-column: 1 / -1;
}

.contato-tittle{
    margin-top: 0;
}


@media screen and (min-width: 46.25em) {

    body{
        text-align: left;
    }

    h1 {
        font-size: 3.625rem;
    }
    
    h2 {
        font-size: 2.875rem;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-menu {
        /* Show menu */
        display: block;
        margin: 0;
    }

    .header-menu li{
        display: inline-block;
        margin-left: 1.5rem;
    }

    .header-menu a{
        padding: 1rem;
    }

    .testemunho {
        display: flex;
        /* align-items: center; */
        gap: 1rem;
    }

    .testemunho_thumb{
        width: 8.125rem;
        height: 8.125rem;
    }

    .contato_image {
        display: block;
        text-align: center;
    }

    .row{
        gap: 1rem;
    }

    .row > .md-3{
        grid-column: span 3;
    }

    .row > .md-4{
        grid-column: span 4;
    }

    .row > .md-6{
        grid-column: span 6;
    }

    .row > .md-9{
        grid-column: span 9;
    }

    /* Invert */
    .row > .md-7-12{
        grid-column: 7 / 13;
    }
    .row > .md-1-6{
        grid-column: 1 / 6;
    }
}

@media screen and (min-width: 90em) {

    .hero_title{
        margin-bottom: 6.25rem;
    }

    .testemunho{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .row{
        gap: 3rem;
    }
    
    .row > .lg-3{
        grid-column: span 3;
    }

    .row > .lg-4{
        grid-column: span 4;
    }

    .row > .lg-5{
        grid-column: span 5;
    }

    .row > .lg-6{
        grid-column: span 6;
    }

    .row > .lg-7{
        grid-column: span 7;
    }

    /* Invert */
    .row > .lg-8-12{
        grid-column: 8 / 13;
    }

    .row > .lg-1-5{
        grid-column: 1 / 6;
    }

    .row > .lg-1-7{
        grid-column: 1 / 8;
    }
    
    
}
