body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card{
    border: 2px solid #999;
}

.card_header img{
    display: block;
    width: 100%;
    max-height: 10em;
    /* Muda a proporcão, similar as propriedades 
       usadas no background-size  */
    object-fit: cover;
    object-position: top;
}

.card_body{
    padding: 1em;
    box-sizing: border-box;
    background-color: #ccc;
}

.card_body p{
    margin: 0 0 1em;
}

.card_btn{
    text-decoration: none;
    text-transform: uppercase;
    background-color: darkslategray;
    padding: .75em 1em;
    color: white;
    display: inline-block;
}