:root{
    --primary-color: #004EDA;
    --black: #111;
    --grey: #f3f2f8;
    --dark-grey: #5a5a5f;
    --default-padding: 32px;
}


/* Reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    /* Grid */
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 64px auto;
}

img{
    max-width: 100%;
}


.mainNav{
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    background-color: white;
    display: flex;
    flex-direction: column;
}


.topNav{
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    background-color: white;
    /* Flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topNav_menu{
    display: flex;
    gap: var(--default-padding);
    
}

main{
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    background-color: bisque;
}

.mainNav_linkLogo{
    padding-left: var(--default-padding);
    display: inline-block;
    padding-top: var(--default-padding);
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
}

.mainNav_menu, .topNav_menu{
    padding-left: var(--default-padding);
}

.mainNav_menu a, .topNav_menu a{
    text-decoration: none;
    color: var(--dark-grey);
    display: flex;
    gap: 5px;
}

.mainNav_menus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: var(--default-padding);
}

.mainNav_menu:last-child{
    padding-bottom: var(--default-padding);
}

.perfil{
    margin-right: var(--default-padding);
    display: flex;
    align-items: center;
    height: 100%;
}

.perfil_thumb{
    height: 100%;
    margin-right: calc(var(--default-padding) / 2);
    padding-top: 5px;
    padding-bottom: 5px;
}

.perfil_thumb img{
    height: 100%;
}

.perfil_name{
    font-size: 14px;
    font-weight: 600;
    color: var(--black);
}

.perfil_rule{
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--dark-grey);
}