:root{
    --primary-color: #004EDA;
    --black: #111;
    --grey: #f3f2f8;
    --dark-grey: #5a5a5f;
    --default-padding: 32px;
    --middle-padding: calc(var(--default-padding) / 2);
}


/* Reset */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    /* Grid */
    display: grid;
    grid-template-columns: 240px 1fr;
    grid-template-rows: 64px auto;
}

img{
    max-width: 100%;
}


.mainNav{
    grid-row: 1 / -1;
    grid-column: 1 / 2;
    background-color: white;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    /* fixa no lugar */
    position: sticky;
    top: 0;
}


.topNav{
    grid-row: 1 / 2;
    grid-column: 2 / -1;
    background-color: white;
    /* Flex */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.topNav_menu{
    display: flex;
    gap: var(--default-padding);
    
}

main{
    grid-row: 2 / -1;
    grid-column: 2 / -1;
    background-color: var(--grey);
    padding: var(--default-padding);
    /* grid */
    display: grid;
    gap: var(--default-padding);
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
}

main > *{
    grid-column: span 2;
}

main > [grid-half]{
    grid-column: span 1;
}


.mainNav_linkLogo{
    padding-left: var(--default-padding);
    display: inline-block;
    padding-top: var(--default-padding);
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
}

.mainNav_menus{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: var(--default-padding);
}

.mainNav_menu, .topNav_menu{
    padding-left: var(--default-padding);
}

.mainNav_menu li:not(:first-child){
    margin-top: var(--middle-padding);
}

.mainNav_menu a, .topNav_menu a{
    text-decoration: none;
    color: var(--dark-grey);
    display: flex;
    gap: 5px;
}

.mainNav_menu:last-child{
    padding-bottom: var(--default-padding);
}

.perfil{
    margin-right: var(--default-padding);
    display: flex;
    align-items: center;
    height: 100%;
}

.perfil_thumb{
    height: 100%;
    margin-right: var(--middle-padding);
    padding-top: 5px;
    padding-bottom: 5px;
}

.perfil_thumb img{
    height: 100%;
}

.perfil_name{
    font-size: 14px;
    font-weight: 600;
    color: var(--black);
}

.perfil_rule{
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--dark-grey);
}

.summary{
    background-color: white;
    display: flex;
    gap: var(--default-padding);
    justify-content: space-between;
    align-items: center;
    padding: var(--middle-padding) var(--default-padding);
    border-radius: 4px;
}

.summary [separator]{
    width: 2px;
    /* height: 100%; */
    align-self: stretch;
    background-color: var(--grey);
}

.summary article{
    padding: var(--middle-padding) 0;
}

.summary [number]{
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    margin-left: var(--middle-padding);
}

.summary a{
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border-radius: 4px;
    padding: calc(var(--middle-padding) / 2) var(--default-padding);
}