.row{
    display: flex;
    gap: 2rem;
    padding: 1.5rem 0;
    justify-content: space-between;
}

/* Sempre o mesmo tamanho independente do conteúdo */
.row > *{
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%; */
    flex: 1 0 0%;
}


.btn{
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color-dark);
    color: var(--default-color);
    font-size: 1.4rem;
    cursor: pointer;
    padding: 0.8em 1.2em;
    border-radius: 5px;
}

.btn + .btn{
    margin-left: 4rem;
}

.btn:hover,
.btn:focus{
    background-color: var(--secondary-color-dark);
}

.btn-big{
    font-size: 2rem;
}

.btn-stroke{
    background: transparent;
}

.btn-full{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

.btn-full + .btn-full{
    margin-left: 0;
    margin-top: 2.5em;
}