.card{
    /* *** Cagada foi colocado um padding direto no article no CSS principal */
    padding: 0;
    max-width: 740px;
    background-color: var(--secondary-color);
}

.card_content{
    padding: 0.75em 1em 1em;
}

.card_content p,
.card_title{
    margin: 0;
}

.card_title{
    font-size: 1.75em;
}

.card img{
    max-width: 100%;
}

.row{
    display: flex;
    gap: 2rem;
    padding: 1.5rem 0;
}