:root{
    --primary-color: #FF7833;
    --secondary-color: #31333B;
    --default-color: #e7e7e7;
    --default-color-light: #9e9e9e;
    --secondary-color-light: #444856;
}

.card{
    /* *** Cagada foi colocado um padding direto no article no CSS principal */
    padding: 0;
    max-width: 740px;
    background-color: var(--secondary-color);
}

.card_content{
    padding: 0.75em 1em 1em;
}

.card_content p,
.card_title{
    margin: 0;
}

.card_title{
    font-size: 1.75em;
}

/*  */