.row{
    display: flex;
    gap: 2rem;
    padding: 1.5rem 0;
    justify-content: space-between;
}

/* Sempre o mesmo tamanho independente do conteúdo */
.row > *{
    /* flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0%; */
    flex: 1 0 0%;
}

.row .row {
    padding-top: 0;
}

input, 
label, 
textarea,
select{
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}

input[type="radio"],
input[type="checkbox"]{
    width: auto;
}

input[type="radio"]{
    margin-left: 0.5rem;
}

input[type="checkbox"]{
    margin-right: 0.5rem;
}

input, 
textarea, 
select{
    background-color: #ccc;
    padding: 1.2rem;
    border-radius: 5px;
    margin-bottom: 1.6rem;
    border: 0;
}


.btn{
    background-color: var(--secondary-color);
    border: 2px solid var(--secondary-color-dark);
    color: var(--default-color);
    font-size: 1.4rem;
    cursor: pointer;
}

.btn:hover,
.btn:focus{
    background-color: var(--secondary-color-dark);
}

