html{
    background-color: #95a5a6;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body{
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


form{
    width: 350px;
    background-color: #ecf0f1;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 10px;
}

fieldset{
    border: none;
}

input, label{
    display: block;
    width: 100%;
    box-sizing: border-box;
}

label{
    margin-bottom: 5px;
}

input{
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 16px;
}

legend{
    text-align: center; 
    padding: 16px;
    font-weight: bold;
    color: #454e4f;
    font-size: 18px;
}

.btn{
    width: fit-content;
    margin-left: auto;
    background-color: rgb(63, 63, 128);
    color: white;
    cursor: pointer;
}

.btn:hover{
    box-shadow: 3px 3px 5px #333;
}
