:root{
    --blue-color:  #3a68b7;
    --font: 'Roboto', sans-serif;
}

html{
    font-size: 62.5%;
    background-color: var(--blue-color);
    font-family: var(--font);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.form{
    width: 90%;
    min-width: 45rem;
    max-width: 64rem;
    background-color: white;
    border-left: 1rem solid rgba(0, 0, 0, 0.2); 
    padding: 1.5rem;
}

.form fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    gap: 1rem;
}

.form legend{
    font-size: 3.2rem;
    color: var(--blue-color);
}

.form legend{
    font-size: 3.2rem;
    color: var(--blue-color);
}

.form input{
    border: none;
    border-bottom: 1px solid var(--blue-color);
}

.form #bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
}

.form button{
    padding: 0.8rem 1.6rem;
    border: none;
    border-radius: 3px;
    background-color: var(--blue-color);
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
}

.form button:hover{
    box-shadow: 2px 2px 3px black;
}

.form #cadastre-se{
   text-decoration: none;
   font-weight: bold;
   color: var(--blue-color);
   text-transform: uppercase;
}






