:root{
    --primary-color: #e10f0f;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(/* to top left, */ /* 68deg, */ transparent 90%, black), url(imagens/tile.png);
    background-attachment: fixed, scroll;
    /* background-blend-mode: color; altere a cor no bg image pra perceber */ 
}

.cores{
    width: 80%;
    border: 8px dashed color-mix(in srgb, red, blue);
    margin: 20px auto;
    padding: 26px;
}

.cores p{
    margin: 0;
}

section{
    counter-reset: contador;
}

.cores{
    counter-increment: contador;
}

.cores::before{
    content: "[ " counter(contador) " ]";
    display: inline-block;
    margin-bottom: 16px;
    font-weight: bold;
}

.cores:nth-of-type(2){
    background-color: blue;
    /* background-clip: border-box; default */
    background-clip: content-box;
}

.cores:nth-of-type(3){
    background-color: hsl(90deg, 100%, 50%, 0.5);
    box-shadow: 1px 5px 5px 3px hsl(100deg, 100%, 30%);
}
.cores:nth-of-type(3):hover{
    background-color: hsl(90deg, 100%, 30%);
}

.cores:nth-of-type(4){
    
}