body {
    font-family: sans-serif;
    background-image: url(imagens/tile.png);
}

.cores{
    width: 80%;
    border: 8px dashed black;
    margin: 20px auto;
    padding: 26px;
}

.cores p{
    margin: 0;
}

section{
    counter-reset: contador;
}

.cores{
    counter-increment: contador;
}

.cores::before{
    content: "[ " counter(contador) " ]";
}