:root{
    --primary-color: #e10f0f;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(/* to top left, */ /* 68deg, */ transparent 90%, black), url(imagens/tile.png);
    background-attachment: fixed, scroll;
    /* background-blend-mode: color; altere a cor no bg image pra perceber */ 
}

.cores{
    width: 80%;
    border: 8px dashed color-mix(in srgb, red, blue);
    margin: 20px auto;
    padding: 26px;
}

.cores p{
    margin: 0;
}

section{
    counter-reset: contador;
}

.cores{
    counter-increment: contador;
}

.cores::before{
    content: "[ " counter(contador) " ]";
    display: inline-block;
    margin-bottom: 16px;
    font-weight: bold;
}

.cores:nth-of-type(2){
    background-color: blue;
    /* background-clip: border-box; default */
    background-clip: content-box;
}

.cores:nth-of-type(3){
    background-color: hsl(90deg, 100%, 50%, 0.5);
    box-shadow: 1px 5px 5px 3px hsl(100deg, 100%, 30%);
}
.cores:nth-of-type(3):hover{
    background-color: hsl(90deg, 100%, 30%);
}

.cores:nth-of-type(4){
    background-image: linear-gradient(70deg, blue, transparent),
                      linear-gradient(to top, red, transparent);
    background-clip: content-box, padding-box;
}

.cores:nth-of-type(5){
    background-image: radial-gradient(blue 30%, red, green);
}

.cores:nth-of-type(6){
    background-image: radial-gradient(circle, blue 30%, red, green);
}

.cores:nth-of-type(7){
    background-image: radial-gradient(circle at left top, blue, red);
}

.cores:nth-of-type(8){
    background-image: radial-gradient(ellipse at 10px 30%, blue, red, yellow);
}

.cores:nth-of-type(9){
    background-image: radial-gradient(closest-corner at 100px 30%, blue, red, yellow);
}

.cores:nth-of-type(10){
    background-image: radial-gradient(farthest-side at 50% 50px, blue, red, yellow);
}

.cores:nth-of-type(11){
    background-image: conic-gradient(from 45deg, blue 30%, red, green, yellow);
}

.cores:nth-of-type(12){
    background-image: conic-gradient(from 45deg, blue 30%, red, green, yellow);
    filter: blur(10px);
}

.cores:nth-of-type(13){
    background-image: conic-gradient(from 45deg, blue 30%, red, green, yellow);
    transition: filter 3s linear;
}
.cores:nth-of-type(13):hover{
    background-image: conic-gradient(from 45deg, blue 30%, red, green, yellow);
    filter: hue-rotate(3turn);
    aspect-ratio: 16 / 9;
}

.cores:nth-of-type(14){
    background-image: repeating-linear-gradient(to top right, white 1px, black 10px);
 
}

.cores:nth-of-type(15){
    background-image: repeating-conic-gradient(white 3deg, black 12deg);
 
}

.cores:nth-of-type(16){
    box-shadow: 10px 10px 6px rgba(0, 0, 0, 0.5); 
}

.cores:nth-of-type(17){
    filter: drop-shadow(10px 10px 6px rgba(0, 0, 0, 0.5)); 
}

