/* CSS Reset */
*{
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

html, body {
    min-height: 100vh;
}

html{
    font-size: 62.5%;
}

body{
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

h1{
    text-align: center;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.gallery{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 96rem;
    gap: 1rem;
    padding: 1.2rem;
    box-shadow: 3px 3px 15px #333;
}

.image{
    width: 22.8rem;
    background-color: black;
    align-items: center;
    overflow: hidden;
}

.image a{
    text-decoration: none;
}

.image img{
    width: 100%;
    height: 100%;
    /* animacao */
    transform: scale(1);
    transition: 0.2s;  
    opacity: 0.5;
}

.image img:hover{
    /* animacao */
    transform: scale(1.25); 
    opacity: 1;
}

.image p{
    width: 100%;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, 0.7);
    /* animacao */
    transform: translateY(0);
    transition: 0.2s; 
}

.image:has(img:hover) p{
    /* animacao */
    transform: translateY(-3.2rem); 
}