:root{
    --primay-color: #FED001;
}


/* Tags */

html{
    /* font-family: 'Inter', sans-serif;
    font-size: 62.5%;
    font-weight: 400; */
    font: 400 62.5% 'Inter', sans-serif;
}

p, a{
    font-size: 1.6rem;
}

h1{
    font-size: 4.8rem;
}

h2{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}


nav a{
    /* inherit - herda do elemento pai */
    color: inherit;
}

.upper{
    text-transform: uppercase;
}

.btn{
    background-color: var(--primay-color);
    border-radius: 4px;
    font-size: 1.8rem;
    text-decoration: none;
    padding: 1.6rem 4.6rem;
}


/* Wrapper Containers */
.wrapperContainer{
    overflow: hidden;
}

.wrapperContainer-dark{
    background-color: #2a2a2a;
    color: #fafafa;
}

.wrapperContainer-hero{
    background-image: linear-gradient(white, rgb(255, 255, 40));
}

.wrapperContainer-light{
    background-color: #fafafa;
}

.wrapperContainer-dark2{
    background-color: #003464;
    color: #fafafa;
}

.container{
    max-width: 127.6rem;
    margin: auto;
}

.section_title{
    margin: 0;
    padding: 7rem 0;
    text-align: center;
}


/* Wrapper 1 - Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primay-color);
    padding: 2rem 0;
}

.header_nav ul{
    display: flex;
    gap: 0.5rem;
    list-style-type: none;
}

.header_nav a{
    padding: 0.75em 1.15em;
    border: solid 1px;
    text-decoration: none;
}

.header_nav a:hover{
    background-color: black;
}


/* Wrapper 2 - Hero */
.heroBanner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20rem;
}

.header_content{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}

.header_content a{
    width: 9.5rem;
}

.btn{
    color: inherit;
    display: inline-block;
}

.section_btn{
    margin: 5.5rem 0;
}


/* Wrapper 3 - Cursos */
.cursos{    
    text-align: center;
}

.cursosContainer{
    display: flex;
    text-align: left;
    gap: 1.6rem;
}

.cursos_card{
    /* Resolve as diferentes larguras dos cards /
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; 
    Atalho abaixo para essas 3 propriedades e valores */
    flex: 1;
}

.cursos_card img{
    display: block;
    width: 100%;
}

.cursos_card h3{
    font-size: 2.4rem;
}

.cursos_card p{
    font-size: 1.8rem;
    line-height: 1.5;
}

.cursos_card_content{
    padding: 1rem 1.25rem;
    /* border */
    border: 1px solid #ccc;
    border-radius: 0 0 8px 8px;
    border-top: transparent;
}

.escola{
    display: flex;
    padding-top: 7rem;
    gap: 6rem;
}

.escola p{
    font-size: 1.8rem;
    line-height: 1.5;
}

.escola_title{
    margin-top: 3.5rem;
    font-size: 3.2rem;
}

.contatos_address{
    text-align: right;
    font: normal 400 1.8rem "Inter", sans-serif;
    margin: 3rem;
}


.footer{
    font-size: 1.6rem;
    text-align: center;
    padding: 4.5rem;
}

.footer a{
    color: inherit;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}