:root{
    --primary-color: #FF7833;
    --secondary-color: #31333B;
    --default-color: #e7e7e7;
    --default-color-light: #9e9e9e;
    --secondary-color-light: #444856;
}

html{
    font-size: 62.5%;
}

body{
    display: flex;
    margin: 0;
    color: var(--default-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    background-color: violet;
    line-height: 1.7;
}

h1{
    font-size: 4rem;
    color: var(--default-color-light);
    margin-top: 2.4rem;
    margin-bottom: 3rem;
}

h2, h3, h4, h5, h6{
    color: var(--primary-color);
    margin: 0;
} 

h2{
    margin-top: 1rem;
}

article{
    padding-top: 1px;
    padding-bottom: 1px;
}

.main-header{
    /* flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 26rem; */
    flex: 0 0 26rem;
    background-color: var(--secondary-color);
}

.main{
    background-color: var(--secondary-color-light);
    /* flex-grow: 1;
    flex-shrink: 0;*/
    flex: 1 0;
    padding: 6.5rem 6rem 7.5rem;
}

.main, .main-header{
    font-size: 1.6rem;
}

a{
    color: inherit;
}

.perfil-img{
    max-width: 10rem;
}


.main-nav{
    text-align: right;
    padding: 6.5rem 2.4rem 2.4rem;
}

.main-nav ul{
    padding: 0;
    list-style-type: none;
}

.main-nav ul a{
    display: block;
    padding: 1.2rem 0;
    text-decoration: none;
    background-color: transparent;
    transition: padding-right .2s, background-color 0.4s;
}

.main-nav ul a:hover{
    background-color: var(--secondary-color-light);
    padding-right: 1rem;
}

.main-nav li{
    border-bottom: 1px solid #7b7b7b;
    padding: 0.4rem 0;
}




